select option {
    /* Эти свойства Firefox применит к выпадающему списку */
    background-color: var(--color-gray-50); /* серый фон */
    color: var(--color-slate-800); /* темный текст */
}

/* Стилизация для Темной темы */
@media (prefers-color-scheme: dark) {
    select option {
        background-color: var(--color-slate-900); /* темный фон */
        color: var(--color-slate-200); /* светлый текст */
    }
}

/* ПОПЫТКА СТИЛИЗАЦИИ ВЫБРАННОГО ПУНКТА */

select option[selected],
select option:checked {
    background-color: var(--color-primary, #f97316) !important;
    color: var(--color-primary-contrast, #fff) !important;
}