select option {
    /* Эти свойства Firefox применит к выпадающему списку */
    background-color: var(--color-gray-50); /* серый фон */
    color: var(--color-slate-800); /* темный текст */
}

/* Стилизация для Темной темы */
@media (prefers-color-scheme: dark) {
    select option {
        background-color: var(--color-slate-900); /* темный фон */
        color: var(--color-slate-200); /* светлый текст */
    }
}

/* ПОПЫТКА СТИЛИЗАЦИИ ВЫБРАННОГО ПУНКТА */
/* К сожалению, это НЕ БУДЕТ выглядеть так ярко, как на макете */

select option[selected],
select option:checked {
    /* Эти цвета будут применены, но браузер наложит поверх них */
    /* свое дефолтное выделение (синее в Chrome) */
    background-color: var(--color-primary, #f97316) !important;
    color: var(--color-primary-contrast, #ffffff) !important;
}