<div #container #trigger="cdkOverlayOrigin" cdkOverlayOrigin [style.width]="width()" [class]="containerClass()">
  @if (label()) {
    <label [for]="id + '-btn'" [class]="labelClass()">{{ label() }}{{ variant() === 'inline' ? ':' : '' }}</label>
  }

  <button [id]="id + '-btn'" type="button" (click)="toggle()" [disabled]="isDisabled()" [class]="triggerClass()">
    <span class="truncate" [class.text-slate-400]="!selectedLabels()">
      {{ selectedLabels() || placeholder() }}
    </span>
    <i-lucide
      [name]="ChevronDown"
      class="h-4 w-4 text-slate-400 transition-transform duration-200"
      [class.rotate-180]="isOpen()"
    ></i-lucide>
  </button>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen()"
    [cdkConnectedOverlayPositions]="overlayPositions"
    [cdkConnectedOverlayWidth]="container.offsetWidth"
    [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
    (overlayOutsideClick)="close()"
  >
    <div
      class="animate-in fade-in zoom-in-95 z-50 w-full overflow-hidden rounded-xl border border-gray-200 bg-white shadow-2xl duration-100 dark:border-slate-800 dark:bg-slate-900"
    >
      <ul class="custom-scrollbar max-h-[240px] overflow-y-auto p-1.5">
        @for (opt of options(); track opt.value) {
          @let isSelected = (value() || []).includes(opt.value);
          <li>
            <button
              type="button"
              (click)="selectOption(opt)"
              class="flex w-full items-center gap-3 rounded-lg px-3 py-2 text-left text-sm transition-colors"
              [class]="
                isSelected
                  ? 'bg-orange-50 font-semibold text-orange-600 dark:bg-orange-500/10 dark:text-orange-400'
                  : 'text-slate-700 hover:bg-gray-100 dark:text-slate-300 dark:hover:bg-slate-800'
              "
            >
              <div
                class="flex h-4 w-4 items-center justify-center rounded border transition-colors"
                [class]="isSelected ? 'border-orange-500 bg-orange-500' : 'border-gray-300 dark:border-slate-600'"
              >
                @if (isSelected) {
                  <i-lucide [name]="Check" class="h-3 w-3 text-white"></i-lucide>
                }
              </div>

              <div class="flex flex-col">
                <span>{{ opt.label }}</span>
              </div>
            </button>
          </li>
        }
      </ul>
    </div>
  </ng-template>
  <ui-form-error [message]="errorMessage()"></ui-form-error>
</div>
